*{
    margin: 0;
    padding: 0;
}

.header, .ipadnav, ul{
    margin: 0 auto;
}

body{
    background: #E8E8E8 url(http://www.hearingclinic.ca/images/body-bg.jpg) no-repeat scroll;
    background-position: center top;
    font-size: 100%;
}

.header{
    width: 980px;
    background-color: transparent;
    border-bottom: none;
}

blockquote {
    color: rgb(125,125,125);
    background-color: rgb(245,245,245);
    box-shadow: 5px 5px 0 rgb(230,230,230);
    margin: 36px auto 40px;
    padding: 16px;
    font: italic 23px 'Roboto',sans-serif;
    text-align:  center;
    border: 1px solid rgba(150,150,150,0.2);
    line-height: 200%;
    width: 85%;
}

footer{
    padding: 10px;
    margin: 0 -30px;
    background-color: rgb(220,220,220);
    background: linear-gradient(to bottom right,rgba(220,220,220,0.1),rgba(220,220,220,0.5));
    border-bottom: 4px solid rgba(150,150,150,0.5);
}

article {
    width: 750px;
    padding: 20px 30px 0px 30px;
    margin: 0px auto 20px;
    overflow: auto;
    background-color:rgb(255,255,255);
    border: 1px solid rgba(150,150,150,0.5);
}

p, dd{
    color: #666;
    margin: 0px 10px 25px;
    font: 24px 'Roboto',sans-serif;
    line-height: 170%;
}

h1{
    display: block;
    font: normal 40px Georgia, "Times New Roman", Times, serif;
    text-shadow: 1px 1px 1px #CCC;
    color: #821323;
    letter-spacing: -0.05em;
    line-height: 100%;
    margin: 10px 0 5px;
}

h1:after, h2:before{
    content: url(http://www.hearingclinic.ca/images/separator.jpg);
    width: 700px;
    height: 43px;
    margin: 10px auto 15px;
    color: rgba(0,0,0,0);
    display: block;
}

h2, dt{
    display: block;
    font: bold 26px Arial, Helvetica, sans-serif;
    color: #27718F;
    text-transform: uppercase;
    letter-spacing: -0.05em;
    margin: 20px 0 30px;
}

#img_right {
    border: 1px solid #CCC;
    padding: 10px;
    margin: 0 10px 0 40px;
    float: right;
}

.divider {
    width: 700px;
    height: 43px;
    background: url(http://www.hearingclinic.ca/images/separator.jpg);
    margin: 10px auto 15px;
    color: rgba(0,0,0,0);
    display: block;
}

.address{
    width: 281px;
    display: inline-block;
    margin: 0 -4px;
    color: #444;
    font: 19px 'Roboto',sans-serif;
    line-height: 108%;
    padding: 10px 60px;
}

.ipadnav{
    width: 980px;
    padding: 20px 0px 50px 0px;
    overflow: auto;
    border: none;
}

.ipadnav ul {
    list-style: none;
    overflow: auto;
    border: none;
}

.ipadnav a, .back a{
    background-color: rgb(130,19,35);
    background: linear-gradient(rgb(130,19,35),rgb(166,24,45),rgb(130,19,35));
    font: 24px Georgia, "Times New Roman", Times, serif;
    color: #E5F4FF;
    border: 1px solid black;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 2px #000;
}

.ipadnav a {
    width: 216px;
    height: 72px;
    margin: 29px 0px 30px 50px;
    padding: 50px 21px 30px;
    float: left;
    box-shadow: 3px 3px 3px #888888;
}

.back a{
    display: block;
    width: 750px;
    margin: 20px auto;
    padding: 10px 30px;
}
