/********Reset margins and paddings**********/
*{
    margin: 0;
    padding: 0;
}

/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'),
       url('roboto-v15-latin-300.woff2') format('woff2'), 
       url('roboto-v15-latin-300.woff') format('woff');
}

/**************Page Structure***************/
body{
    background: #E8E8E8 url(images/body-bg.jpg) no-repeat scroll;
    background-position: center top;
    font: 24px 'Roboto',sans-serif;
}

.header, .ipadnav{
    margin: 0 auto;
}

.header{
    width: 980px;
    height: 165px;
    background-color: transparent;
    background: url(images/peter-kirchberger-logo.png) no-repeat;
    background-position: center top;
    border-bottom: none;
}

article {
    width: 750px;
    padding: 20px 30px 0px 30px;
    margin: 0px auto 20px;
    overflow: auto;
    background-color:rgb(255,255,255);
    border: 1px solid rgba(150,150,150,0.5);
}

.address{
    width: 280px;
    display: inline-block;
    margin: 0 -4px;
    color: #444;
    font-size: 19px;
    padding: 10px 60px;
}

footer{
    padding: 10px;
    margin: 55px -30px 0;
    background-color: rgb(220,220,220);
    background: linear-gradient(to bottom right,rgba(220,220,220,0.2),rgba(220,220,220,0.7));
    border-bottom: 4px solid rgba(150,150,150,0.5);
}

/*******************Navigation Elements****************/
.ipadnav{
    width: 980px;
    padding: 20px 0px 50px 0px;
    overflow: auto;
    border: none;
}

.ipadnav ul {
    list-style: none;
    overflow: auto;
    border: none;
}

.ipadnav ul>li{
    margin: 0;
    line-height: 100%;
}

.ipadnav a, .back a{
    background-color: rgb(130,19,35);
    background: linear-gradient(rgb(130,19,35),rgb(166,24,45),rgb(130,19,35));
    font: 24px Georgia, "Times New Roman", Times, serif;
    color: #E5F4FF;
    border: 1px solid black;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 2px #000;
}

.ipadnav a {
    width: 216px;
    height: 72px;
    margin: 29px 0px 30px 50px;
    padding: 50px 21px 30px;
    float: left;
    box-shadow: 3px 3px 3px #888888;
}

.back a{
    display: block;
    width: 750px;
    margin: 20px auto;
    padding: 10px 30px;
}

/********************General Styles********************/

blockquote {
    color: rgb(125,125,125);
    background-color: rgb(245,245,245);
    box-shadow: 5px 5px 0 rgb(230,230,230);
    margin: 36px auto 40px;
    padding: 16px;
    font-style: italic;
    font-size: 23px;
    text-align:  center;
    border: 1px solid rgba(150,150,150,0.2);
    line-height: 200%;
    width: 85%;
}

p, ol>li, ul>li, dd{
    color: #666;
    margin: 0px 10px 25px;
    line-height: 170%;
}

dd{
    width: 730px;
    overflow: hidden;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.2s ease;
}

.show{
    transform: scaleY(1);
}

ol{
    counter-reset: countstyler;
}

ol>li{
    padding: 0 0 0 60px;
    margin: 35px 55px;
    font-size: 18px;
    /*Create a context to absolutely position the numbers*/
    position: relative;  
    list-style: none;
    border-top: 1px solid rgb(210,210,210);
    overflow: hidden;
    min-height: 52px
}

ol>li:before{
    content: counter(countstyler);
    counter-increment: countstyler;
    font-size: 32px;
    position: absolute;
    left: 0px;
    top: 0px;
    padding: .4em;
    background: rgb(210,210,210);
    background: linear-gradient(rgb(210,210,210),rgb(230,230,230));
}

h1{
    display: block;
    font: normal 40px Georgia, "Times New Roman", Times, serif;
    text-shadow: 1px 1px 1px #CCC;
    color: #821323;
    letter-spacing: -0.05em;
    line-height: 100%;
    margin: 10px 0 5px;
}

h2, dt{
    display: block;
    font: bold 26px Arial, Helvetica, sans-serif;
    color: #27718F;
    text-transform: uppercase;
    letter-spacing: -0.05em;
    margin: 20px 0 30px;
}

h1:after, h2:before{
    content: url(images/separator.jpg);
    width: 700px;
    height: 43px;
    margin: 10px auto 15px;
    display: block;
}

dt:first-child:before{
    display: none;
}

#img_right, #img_left{
    border: 1px solid #CCC;
    padding: 10px;
}

#img_right {
    margin: 0 10px 0 40px;
    float: right;
}

#img_left {
    margin: 0 40px 0 10px;
    float: left;
}
