@keyframes linkFade{
    from{background-color: #821323;}
    to{background-color: #27718F;}
}

.header, .ipadnav, ul{
    margin: 0px auto;
}

body{
    background: #E8E8E8 url(http://www.hearingclinic.ca/images/body-bg.jpg) no-repeat fixed;
    background-position: center top;
    padding: 0px;
    margin: 0px;
    font-size: 100%;
}

.header{
    width: 980px;
    background-color: transparent;
    border-bottom: none;
    padding: 0px;
}

blockquote {
    color: #666;
    background-color: rgb(235,235,235);
    margin: 36px auto 5px;
    padding: 25px;
    font: italic 17px Arial, Verdana, Helvetica;
    text-align:  center;
    border: 1px solid rgba(150,150,150,0.5);
    line-height: 200%;
    width: 85%;
}

.container{
    /* clear: both; */
    padding: 0 10px;
    /* width: 100%; */
    overflow: hidden;
    margin: 30px 0;
}

.back a{
    display: block;
    width: 750px;
    background-color: #821323;
    margin: 20px auto;
    padding: 10px 30px;
    text-decoration: none;
    text-align: center;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 24px;
    color: #E5F4FF;
}

.back a:hover{
    animation-name: linkFade;
    animation-duration: 0.5s;
    background-color: #27718F;
}

.back a:active{
    background-color: #27718F;
} 

article {
    width: 750px;
    padding: 20px 30px 30px 30px;
    margin: 0px auto;
    overflow: auto;
    background-color:rgb(255,255,255);
    border: 1px solid rgba(150,150,150,0.5);
}

article p{
    color: #666;
    margin: 0px 10px 25px;
    font: 17px Arial, Verdana, Helvetica;
    line-height: 170%;
}

article h1{
    display: block;
    font: normal 36px Georgia, "Times New Roman", Times, serif;
    color: #821323;
    letter-spacing: -0.05em;
    line-height: 100%;
    padding: 0px;
    margin: 10px 0px 5px;
}

article h2{
    display: block;
    font: bold 28px Arial, Helvetica, sans-serif;
    color: #27718F;
    text-transform: uppercase;
    margin: 0px;
}

#img_right {
    border: 1px solid #CCC;
    padding: 10px;
    margin: 0 10px 0 40px;
    float: right;
    width: 270px;
}

.divider {
    width: 700px;
    height: 43px;
    background: url(http://www.hearingclinic.ca/images/separator.jpg);
    margin: 0px;
    padding: 0px;
    color:rgba(0,0,0,0);
    display: block;
}

.address{
    width: 50%;
    float: left;
    color: #666;
    font: 17px Arial, Verdana, Helvetica;
    line-height: 170%;
    /* padding: 0; */
}

.ipadnav{
    width: 980px;
    padding: 20px 0px 50px 0px;
    overflow: auto;
    border: none;
}

.ipadnav ul {
    list-style: none;
    padding: 0px;
    overflow: auto;
    border: none;
}

.ipadnav a {
    display: block;
    background-color: #821323;
    width: 200px;
    height: 70px;
    margin: 20px 0px 10px 49px;
    padding: 30px;
    float: left;
    position: relative;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 24px;
    color: #E5F4FF;
    text-decoration: none;
    text-align: center;
    border: 1px solid black;
    box-shadow: 5px 5px 5px #888888;
}

.ipadnav a:link, .ipadnav a:visited{}

.ipadnav a:hover{
    animation-name: linkFade;
    animation-duration: 0.5s;
    background-color: #27718F;
}

.ipadnav a:active{
    background-color: #27718F;
} 

