*{
    margin: 0;
    padding: 0;
}

.header, .ipadnav, ul{
    margin: 0 auto;
}

body{
    background: #E8E8E8 url(http://www.hearingclinic.ca/images/body-bg.jpg) no-repeat scroll;
    background-position: center top;
    font-size: 100%;
}

.header{
    width: 980px;
    background-color: transparent;
    border-bottom: none;
}

blockquote {
    color: rgb(125,125,125);
    background-color: rgb(245,245,245);
    box-shadow: 5px 5px 0 rgb(230,230,230);
    margin: 36px auto;
    padding: 16px;
    font: italic 25px 'Roboto',sans-serif;
    text-align:  center;
    border: 1px solid rgba(150,150,150,0.2);
    line-height: 200%;
    width: 85%;
}

#address-container{
    padding: 10px;
    margin: 0 -30px;
    background-color: rgb(220,220,220);
    background: linear-gradient(to bottom right,rgba(220,220,220,0.1),rgba(220,220,220,0.5));
}

article {
    width: 750px;
    padding: 20px 30px 0px 30px;
    margin: 0px auto 20px;
    overflow: auto;
    background-color:rgb(255,255,255);
    border: 1px solid rgba(150,150,150,0.5);
}

p{
    color: #666;
    margin: 0px 10px 25px;
    font: 24px 'Roboto',sans-serif;
    line-height: 170%;
}

article h1{
    display: block;
    font: normal 40px Georgia, "Times New Roman", Times, serif;
    text-shadow: 1px 1px 1px #CCC;
    color: #821323;
    letter-spacing: -0.05em;
    line-height: 100%;
    margin: 10px 0px 5px;
}

article h2{
    display: block;
    font: bold 28px Arial, Helvetica, sans-serif;
    color: #27718F;
    text-transform: uppercase;
}

#img_right {
    border: 1px solid #CCC;
    padding: 10px;
    margin: 0 10px 0 40px;
    float: right;
}

.divider {
    width: 700px;
    height: 43px;
    background: url(http://www.hearingclinic.ca/images/separator.jpg);
    margin: 10px auto 20px;
    color: rgba(0,0,0,0);
    display: block;
}

.address{
    width: 281px;
    display: inline-block;
    margin: 0 -4px;
    color: #444;
    font: 19px 'Roboto',sans-serif;
    line-height: 108%;
    padding: 10px 60px;
}

.ipadnav{
    width: 980px;
    padding: 20px 0px 50px 0px;
    overflow: auto;
    border: none;
}

.ipadnav ul {
    list-style: none;
    overflow: auto;
    border: none;
}

.ipadnav a, .back a{
    background-color: rgb(130,19,35);
    background: linear-gradient(to bottom right,rgb(179,26,48),rgb(130,19,35));
    font: 24px Georgia, "Times New Roman", Times, serif;
    color: #E5F4FF;
    border: 1px solid black;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    text-shadow: 2px 2px 2px #000;
}

.ipadnav a {
    width: 200px;
    height: 70px;
    margin: 34px 0px 30px 49px;
    padding: 30px;
    float: left;
    box-shadow: 5px 5px 5px #888888;
}

.back a{
    display: block;
    width: 750px;
    margin: 20px auto;
    padding: 10px 30px;
}

.ipadnav a:hover, .back a:hover{
    animation-name: linkFade;
    animation-duration: 0.5s;
    background-color: #27718F;
}

.ipadnav a:active, .back a:active{
    background-color: #27718F;
} 

@keyframes linkFade{
    from{background-color: #821323;}
    to{background-color: #27718F;}
}
